<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div>
        <img 
            class="rounded-xl" 
            [src]="housingLocation?.photo"
            alt="Exterior photo of {{ housingLocation?.name }}"
            crossorigin>
      </div>
      <!-- End Col -->
  
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
                {{ housingLocation?.name }}
            </h2>
            <p class="text-gray-500">
                {{ housingLocation?.city }}, {{ housingLocation?.state }}
            </p>
          </div>
          <!-- End Title -->

          <!-- Description -->
          <h3 class="font-semibold text-xl text-gray-800">
            About this housing location:
          </h3>
  
          <!-- List -->
          <ul class="space-y-2 sm:space-y-4">
            <li class="flex gap-x-3">
              <div class="grow">
                <span class="text-sm sm:text-base text-gray-500">
                  <span class="font-bold">Units available:</span> {{ housingLocation?.availableUnits }}
                </span>
              </div>
            </li>
  
            <li class="flex gap-x-3">
              <div class="grow">
                <span class="text-sm sm:text-base text-gray-500">
                  <span class="font-bold">Does this location have wifi:</span> {{ housingLocation?.wifi }}
                </span>
              </div>
            </li>
  
            <li class="flex gap-x-3">
              <div class="grow">
                <span class="text-sm sm:text-base text-gray-500">
                    <span class="font-bold">Does this location have laundry:</span> {{ housingLocation?.laundry }}
                </span>
              </div>
            </li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Description -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

    <hr class="my-10 border-gray-200 dark:border-neutral-700"/>

    <!-- Start Application Form -->
    <div class="flex flex-col gap-6  max-w-md mx-auto mt-10 items-center">
        <h2 class="font-bold text-2xl text-gray-800">Apply now</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()" class="flex flex-col gap-4 items-center">

            <div class="grid grid-cols-2 gap-2">
                <div>
                    <label for="first-name">First Name</label>
                    <input id="first-name" type="text" formControlName="firstName" class="peer py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Enter First Name"/>
                </div>
                <div>
                    <label for="last-name">Last Name</label>
                    <input id="last-name" type="text" formControlName="lastName" class="peer py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Enter Last Name"/>
                </div>
            </div>

            <div class="max-w-md w-full grid grid-cols-1 gap-2">
                <div>
                    <label for="email">Email</label>
                    <input id="email" type="email" formControlName="email" class="peer py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Enter Email"/>
                </div>
            </div>

            <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                Apply
            </button>
        </form>
    </div>
    <!-- End Application Form -->
  </div>
  <!-- End Features -->